<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>POD Studio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<%- include('./template/header') -%>

	
	</head>
	<body>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>

	    <%- include('./template/navbar') -%>
        
		<div id="colorlib-main">
			<div class="colorlib-services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Services</span>
							<h2 class="colorlib-heading">Here are some of our expertise</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-md">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
										<div class="colorlib-icon">
											<i class="flaticon-worker"></i>
										</div>
										<div class="colorlib-text">
											<h3>Pod INTERIORS </h3>
											<p>Pod Interiors focuses on the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. Services include Home/House design, Office/work space, Bars/Restaurants and custom designs.</p>
										</div>
									</div>

									<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
										<div class="colorlib-icon">
											<i class="flaticon-sketch"></i>
										</div>
										<div class="colorlib-text">
											<h3>POD VR/VT</h3>
											<p>Our Virtual Reality solutions help organisations generate a digital world, allowing users to virtually experience their products and services. Whether it is showcasing products to customers or offer remote training to employees, we have a solution for you. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
										<div class="colorlib-icon">
											<i class="flaticon-engineering"></i>
										</div>
										<div class="colorlib-text">
											<h3>POD ART</h3>
											<p>We are an online fine art gallery that is passionate about pop-ups!  Based in Birmingham, we seek out the best in new and established contemporary artists from across the UK and have a growing reputation for our innovative and high quality range of events and exhibitions throughout the year. </p>
										</div>
									</div>

									<div class="colorlib-feature animate-box" data-animate-effect="fadeInLeft">
										<div class="colorlib-icon">
											<i class="flaticon-crane"></i>
										</div>
										<div class="colorlib-text">
											<h3>POD EVENTS</h3>
											<p>Pod events is an integrated event production agency delivering compelling live events,offering creative, technical & management in Birmingham and the UK. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(images/services-1.jpg)"></div>
								<div class="desc">
									<h3>Design &amp; Build</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(images/services-2.jpg)"></div>
								<div class="desc">
									<h3>House Remodeling</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(images/services-3.jpg)"></div>
								<div class="desc">
									<h3>Construction Management</h3>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(images/services-4.jpg)"></div>
								<div class="desc">
									<h3>Painting &amp; Tiling</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="services.html" class="services-wrap animate-box" data-animate-effect="fadeInRight">
								<div class="services-img" style="background-image: url(images/services-5.jpg)"></div>
								<div class="desc">
									<h3>Kitchen Remodeling</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<%- include('./template/get_in_touch') -%>
		</div>
	</div>

    <%- include('./template/scripts') -%>

	</body>
</html>

